:root {
    --gray: linear-gradient(to right, gray, lightgray);
}

* {
    padding: 0;
    margin: 0;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8rem;
    background-image: var(--gray);
    height: 4rem;
}

nav, ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#noticias {
    margin-bottom: 2rem;
    background-image: var(--gray);
    width: 100%;
}

#noticias-container {
    display: flex; 
    justify-content: space-between;
}

.noticia-img {
    width: 400px;
}

#ultima-corrida {
    margin-bottom: 2rem;
    background-image: var(--gray);
    width: 100%;
}

#ultima-corrida-tabela {
    display: flex;
    flex-direction: column;
    gap: .2rem;

}
.tabela-item {
    display: flex;
    align-items: center;
    gap: 6rem;
}
.piloto {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}
.posicao {
    background-color: blue;
    color: white;
    padding: 1rem;
}
.piloto-foto {
    height: 1rem;
}


#tabela {
    width: 40%;
    background-image: var(--gray);
}

#proxima-corrida {
    width: 40%;
    height: 700px;
    background-image: url("../img/formula\ e.webp");
}