:root {
    --gray: linear-gradient(to right, black, black);
}

* {
    padding: 0;
    margin: 0;

    color: white;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8rem;
    background-image: var(--gray);
    height: 4rem;
}

nav, ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

#main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#proxima-corrida {
    margin-bottom: 2rem;
    background-image: var(--gray);
    width: 100%;
}

#noticias-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

    gap: 3rem;
}

.noticia-img {
    width: 100%;
    height: 150px;
}

#ultima-corrida {
    margin-bottom: 2rem;
    background-image: var(--gray);
    width: 100%;
}

#ultima-corrida-tabela {
    display: flex;
    flex-direction: column;
    gap: .2rem;

}

#race-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2rem;
}

#stats ul {
    display: flex;
    flex-direction: column;
}

#stats li {
    background-color: blue;
    padding: 1rem;
    color: white;
}

.tabela-item {
    display: flex;
    align-items: center;
    gap: 6rem;
    border-bottom: 2px ridge;
}
.piloto {
    display: flex;
    height: 6rem;
    gap: 1.4rem;
    align-items: center;
    border-bottom: 2px ridge;
    
    
}
.posicao {
    background-color: blue;
    color: white;
    height: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.piloto-foto {
    height: 4rem;
    border-radius: 2rem;
}



#tabela {
    width: 45%;
    background-image: var(--gray);
}

#noticias {
    width: 45%;
    height: 700px;

    background-image: var(--gray);
}


section {
    padding: 2rem;
}

h1 {
    padding-bottom: 2rem;
}

















/*teco*/
.award-container {
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    text-align: center;

    background-color: blue;
}
.trophy-icon {
    font-size: 2em;
    color: gold;
}
.pilot-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
}
.pilot-name {
    font-size: 1.2em;
    font-weight: bold;
}